/*Cart page*/
body {
    background-color: #f5f5f5;
    margin: 0px;
    padding: 0px;
}
section {
    text-align: center;
    color: #011742;
    margin: 0px auto;
    display: block;
    margin-top: 5%;
}
article.shopping-cart-view {
    background-color: white;
    margin: 0px 15%;
}
.panel {
    border: none !important;
    box-shadow: none !important;
}
table {
    width: 100%;
    padding: 45px 60px;
    border: none !important;
}
table th {
    border-bottom: 2px solid lightgrey;
    border-top:none !important;
}
table th {
    padding: 20px 30px 30px 30px !important;
    text-align: center;
}
table tr.product-row {
    border-bottom: 1px solid #f5f5f5;
}
div.padding-5 {
    padding: 5px 0px !important;;
}
div.padding-5 img {
    border: none;
}
div.input-group {
    padding: 30px;
}
div.input-group button {
    background-color: #011742;
    border-radius: 0px;
    color: white;
}

/*boxes at the bottom of the shopping cart*/
div.box {
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 5px;
}
div.checkout div.input-group {
    margin: auto;
    width: 100%;
    padding-bottom: 0px;
}
div.checkout div.input-group button {
    width: 100%;
}

div.over-view {

}
div.over-view h5 {

}

div.button-group-1 {
    padding: 5px 0px;
}
div.button-group-1 button {
    background-color: #011742;
    color: whitesmoke;
    border-radius: 0px;
    padding: 10px 0px;
}
div.button-group-2 {
    padding: 5px 0px;
}
div.button-group-2 button {
    background-color: white;
    color: #011742;
    border-radius: 0px;
    padding: 10px 0px;
}

article.card-payment-view {
    display: none;
    margin: 0px 15%;
}

article.shipping-address-view {
    display: none;
    margin: 0px 15%;
}

div.billing-address-view {
    display:none;
}

label.btn-primary {
    background-color: #011742 !important;
    color: white !important;
}

/*responsive Styles*/
@media (max-width: 768px) {
    article.card-payment-view {
        margin: 0px 5% !important;
    }

    article.shipping-address-view {
        margin: 0px 5% !important;
    }
}