<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<section>
    <article id="shopping-desktop" class="shopping-cart-view hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3>Payment Information</h3>
                </div>
                <table class="table table-condensed col-md-12 row">
                    <tr bordercolor="#f7f7f7">
                        <th class="col-md-4">Description</th>
                        <th class="col-md-3">Quantity</th>
                        <th class="col-md-3">Remove</th>
                        <th class="col-md-2">Price</th>
                    </tr>
                    <tr class="product-row">
                        <td>
                            <div class="col-md-4 padding-5">
                                <img class="img-thumbnail" th:src="@{/images/body-bal.jpg}" />
                            </div>
                            <div class="col-md-8 padding-5" style="text-align: left;">
                                <h5>Body Balance</h5>
                                <p>Liquid medicine to make you feel better</p>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                    <span class="input-group-btn">
                                        <button style="border: 1px solid #011742;" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                <input style="border: 1px solid #f1f1f1;" type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                <span class="input-group-btn">
                                        <button style="background-color: #f5f5f5; color: #011743; border: 1px solid #f1f1f1;" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                            </div>
                        </td>
                        <td style="padding: 30px">
                            <div>
                                <span class="input-group-btn">
                                        <button style="background-color: #f5f5f5; color: #011743; border: 1px solid #f1f1f1;" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                            </div>
                        </td>
                        <td style="padding: 30px">
                            <div class="padding-5">
                                <h5>$50.00</h5>
                            </div>
                        </td>
                    </tr>
                    <tr class="product-row">
                        <td>
                            <div class="col-md-4 padding-5">
                                <img class="img-thumbnail" th:src="@{/images/body-bal.jpg}" />
                            </div>
                            <div class="col-md-8 padding-5" style="text-align: left;">
                                <h5>Body Balance</h5>
                                <p>Liquid medicine to make you feel better</p>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                    <span class="input-group-btn">
                                        <button style="border: 1px solid #011742;" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                <input style="border: 1px solid #f1f1f1;" type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                <span class="input-group-btn">
                                        <button style="background-color: #f5f5f5; color: #011743; border: 1px solid #f1f1f1;" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                            </div>
                        </td>
                        <td style="padding: 30px">
                            <div>
                                <span class="input-group-btn">
                                    <button style="background-color: #f5f5f5; color: #011743; border: 1px solid #f1f1f1;" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>

                        </td>
                        <td style="padding: 30px">
                            <div class="padding-5">
                                <h5>$50.00</h5>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box col-md-12">
                            <div class="col-md-6">
                                <h5>Discount</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>$0.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box col-md-12">
                            <div class="col-md-6">
                                <h5>Subtotal</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>$50.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box col-md-12">
                            <div class="col-md-6">
                                <h5>Total</h5>
                            </div>
                            <div class="col-md-6">
                                <h5>$50.00</h5>
                            </div>
                        </div>
                    </div>
                </div><!-- row -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="If you have a promotion code, enter it here:">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Apply Discount <span class="glyphicon glyphicon-tags" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 checkout">
                        <div class="input-group">
                            <button id="checkoutBtn1" class="btn btn-default">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
                        </div>
                        <div class="input-group">
                            <button class="btn btn-default">Continue Shopping</button>
                        </div>
                    </div>
                </div><!-- row -->
            </div> <!-- panel-body-div -->
        </div><!-- shopping-cart-div -->
    </article>

    <article id="card-desktop" class="card-payment-view">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3>Payment Information</h3>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-1">
                    <form>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                    <option>Discovery</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nameOnCard" placeholder="Name on Card">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder="Card Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="expirationDate" placeholder="Expiration Date - 02/22">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="securityCode" placeholder="Security Code">
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <h3>Shipping Address</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="address" placeholder="Address">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="city" placeholder="City">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Tennasese</option>
                                    <option>Texas</option>
                                    <option>Discovery</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="zipcode" placeholder="Zipcode">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input id="switch-checkbox" type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No"> Billing Address is the same
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div id="billing-address" class="billing-address-view">
                            <div class="col-md-12">
                                <h3>Billing Address</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="address" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="city" placeholder="City">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Tennasese</option>
                                        <option>Texas</option>
                                        <option>Discovery</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="zipcode" placeholder="Zipcode">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 button-group-1">
                        <button id="payment-btn" class="btn btn-default btn-block">Review Order</button>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article id="shopping-mobile" class="hidden-md hidden-lg" style="padding: 15px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3>Payment Information</h3>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-4 col-xs-4" style="padding: 10px 0px;">
                        <img class="img-thumbnail" th:src="@{/images/body-bal.jpg}"  style="border:none;"/>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <div class="col-sm-12 col-xs-12">
                            <h5>Body Balance</h5>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <p>$50.00</p>
                        </div>
                        <div class="col-sm-12 col-xs-12" style="padding: 0px;">
                            <div class="input-group" style="padding:0px;">
                                <span class="input-group-btn">
                                    <button style="border: 1px solid #011742;" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input style="border: 1px solid #f1f1f1;" type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                <span class="input-group-btn">
                                    <button style="background-color: #f5f5f5; color: #011743; border: 1px solid #f1f1f1;" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-4 col-xs-4" style="padding: 10px 0px;">
                        <img class="img-thumbnail" th:src="@{/images/body-bal.jpg}" style="border:none;"/>
                    </div>
                    <div class="col-sm-8 col-xs-8">
                        <div class="col-sm-12 col-xs-12">
                            <h5>Body Balance</h5>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <p>$50.00</p>
                        </div>
                        <div class="col-sm-12 col-xs-12" style="padding: 0px;">
                            <div class="input-group" style="padding:0px;">
                                <span class="input-group-btn">
                                    <button style="border: 1px solid #011742;" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input style="border: 1px solid #f1f1f1;" type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                <span class="input-group-btn">
                                    <button style="background-color: #f5f5f5; color: #011743; border: 1px solid #f1f1f1;" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default over-view">
            <div class="panel-body">
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-6 col-xs-6">
                        <h5 class="text-left">Subtotal</h5>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <h5 class="text-right">$50.00</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="col-sm-6 col-xs-6">
                        <h5 class="text-left">Discount</h5>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <h5 class="text-right">($10.00)</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="col-sm-6 col-xs-6">
                        <h5 class="text-left" style="font-weight: bolder">Total</h5>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <h5 class="text-right" style="font-weight: bolder">$40.00</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 button-group-1">
            <button id="checkoutBtn2" class="btn btn-block">Checkout</button>
        </div>

        <div class="col-xs-12 col-sm-12 button-group-2">
            <button class="btn btn-block">Continue Shopping</button>
        </div>
    </article>
</section>
</body>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
    $(document).ready(function () {

        //change if switch changes
        $('#switch-checkbox').change(function() {
            if(!$(this).prop('checked')) {
                $('#billing-address').fadeIn(500, "linear");
            } else {
                $('#billing-address').fadeOut(500, "linear");
            }
        });

        //if checkout button1 or two is clicked then fade out the view
        //desktop
        $("#checkoutBtn1").click(function() {
            $("#shopping-desktop").fadeOut(500, "linear", function() {
                $("#card-desktop").fadeIn();
            });
        });

        $("#checkoutBtn2").click(function () {
            $("#shopping-mobile").fadeOut(500, "linear", function() {
               $("#card-desktop").fadeIn();
            });
        });
    });
</script>
</html>