<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style/Dashboard.css}">
</head>
<body>
    <section class="wrapper">
        <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

        <article class="content">
            <div id="content">
                <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
            </div>
        </article>
    </section>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/javascript/dashboard.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>